.app{
    position: relative;
    left:2px;
}
.menuButton{
    background-color: rgba(235, 231, 48, 0.644);
    border: 2px dotted rgba(41, 243, 0, 0.842);
    margin: 2px 0px 2px 0px;
    max-width: 13ch;
    max-height: 3ch;
    text-decoration: none;
    padding:2px 0px;
    display: inline-block;
    text-align: center;
}
.menuButton:hover ol{
    display:block;
}
/* .navMenu{
     display:none; 
} */
.navMenu{
    background-color: rgba(109, 243, 31, 0.692);
    max-height: 10ch;
    max-width: 92px;
    padding: 0px 1px 0px 1px;
    text-align: center;
    list-style: none;
    display:block;
    position: relative;
    bottom:16px;
}
.navOpt:hover{
    border:2px dotted green;
    height: 100%;
}
a{
    text-decoration:none;
}
