.menuButton{
  border:2px solid burlywood;
  width:200px;
  height: 200px;
  margin:5px;
  padding:0px 5px 7px 5px;
  background-color: beige;
  text-align:center;
}
.positionColor{
  border:2px solid greenyellow;
  background-color: azure;
  text-align:center;
}